<div ng-controller="MainController">
	<nav
		class="bg-white border-gray-200 dark:bg-gray-900"
		ng-controller="NavController"
	>
		<div
			class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
		>
			<a
				href="/"
				class="flex items-center space-x-3 rtl:space-x-reverse"
			>
				<img
					src="https://flowbite.com/docs/images/logo.svg"
					class="h-8"
					alt="Flowbite Logo"
				/>
				<span
					class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
					>FashionAds</span
				>
			</a>
			<div
				class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
			>
				<button
					type="button"
					class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
					id="user-menu-button"
					aria-expanded="false"
					data-dropdown-toggle="user-dropdown"
					data-dropdown-placement="bottom"
				>
					<span class="sr-only"
						>Open user menu</span
					>
					<img
						class="w-8 h-8 rounded-full"
						src="https://cdn-icons-png.flaticon.com/512/1361/1361913.png"
						alt="user photo"
					/>
				</button>
				<div
					class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
					id="user-dropdown"
				>
					<ul
						class="py-2"
						aria-labelledby="user-menu-button"
					>
						<li ng-if="isSignedIn">
							<a
								href="#/profile"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								>Profile</a
							>
						</li>
						<li ng-if="isSignedIn">
							<a
								href="#"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								ng-click="signOut()"
								>Sign Out</a
							>
						</li>

						<li ng-if="!isSignedIn">
							<a
								ng-href="#/register"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								>Register</a
							>
						</li>
						<li ng-if="!isSignedIn">
							<a
								href="#/login"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								>Sign In</a
							>
						</li>
					</ul>
				</div>
				<button
					data-collapse-toggle="navbar-user"
					type="button"
					class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
					aria-controls="navbar-user"
					aria-expanded="false"
				>
					<span class="sr-only"
						>Open main menu</span
					>
					<svg
						class="w-5 h-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 17 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15"
						/>
					</svg>
				</button>
			</div>
		</div>
	</nav>

	<section
		class="bg-white dark:bg-gray-900"
	>
		<div
			class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
		>
			<div
				class="mr-auto place-self-center lg:col-span-7"
			>
				<h1
					class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
				>
					We Advertise & Sell Your
					Luxury Items
				</h1>
				<p
					class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
				>
					We specialize in advertising
					and selling your luxury items
					to the right audience,
					ensuring maximum value and
					visibility!
				</p>
			</div>
			<div
				class="hidden lg:mt-0 lg:col-span-5 lg:flex"
			>
				<img
					src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"
					alt="mockup"
				/>
			</div>
		</div>
	</section>

	<section
		class="bg-white dark:bg-gray-900"
	>
		<div
			class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"
		>
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				Worldwide Transaction
			</h1>
			<p
				class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
			>
				Enable worldwide transactions
				effortlessly and connect your
				business with a global audience!
			</p>
		</div>

		<div
			class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]"
		>
			<div
				class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"
			></div>
			<div
				class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"
			></div>
			<div
				class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"
			></div>
			<div
				class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"
			></div>
			<div
				class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
			>
				<img
					src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
					class="dark:hidden w-[272px] h-[572px]"
					alt=""
				/>
				<img
					src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
					class="hidden dark:block w-[272px] h-[572px]"
					alt=""
				/>
			</div>
		</div>
	</section>

	<section
		class="bg-white dark:bg-gray-900"
	>
		<div
			class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 items-center"
		>
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				How To Join Us ?
			</h1>
			<p
				class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
			>
				Follow through these simple
				steps to become our partner
			</p>

			<ol
				class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse justify-center"
			>
				<li
					class="flex flex-col items-center text-gray-500 dark:text-gray-400"
				>
					<span
						class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full dark:border-gray-400 mb-2"
					>
						1
					</span>
					<span class="text-center">
						<h3
							class="font-medium leading-tight"
						>
							Personal info
						</h3>
						<p class="text-sm">
							Fill out your personal
							information
						</p>
					</span>
				</li>

				<li
					class="flex flex-col items-center text-gray-500 dark:text-gray-400"
				>
					<span
						class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full dark:border-gray-400 mb-2"
					>
						2
					</span>
					<span class="text-center">
						<h3
							class="font-medium leading-tight"
						>
							Product Info
						</h3>
						<p class="text-sm">
							Fill out your product's
							information
						</p>
					</span>
				</li>
				<li
					class="flex flex-col items-center text-gray-500 dark:text-gray-400"
				>
					<span
						class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full dark:border-gray-400 mb-2"
					>
						3
					</span>
					<span class="text-center">
						<h3
							class="font-medium leading-tight"
						>
							Just Wait !
						</h3>
						<p class="text-sm">
							Wait until your product is
							sold
						</p>
					</span>
				</li>
			</ol>
		</div>
	</section>

	<section
		class="bg-white dark:bg-gray-900"
	>
		<div
			class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"
		>
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				Pricings
			</h1>
			<p
				class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
			>
				Enable worldwide transactions
				effortlessly and connect your
				business with a global audience!
			</p>
		</div>
		<div
			class="flex gap-4 justify-center"
		>
			<div
				class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
			>
				<h5
					class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400"
				>
					Standard plan
				</h5>
				<div
					class="flex items-baseline text-gray-900 dark:text-white"
				>
					<span
						class="text-3xl font-semibold"
						>$</span
					>
					<span
						class="text-5xl font-extrabold tracking-tight"
						>10</span
					>
					<span
						class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
						>/month</span
					>
				</div>
				<ul
					role="list"
					class="space-y-5 my-7"
				>
					<li class="flex items-center">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>2 team members</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Up To 100 Products</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Integration help</span
						>
					</li>
					<li
						class="flex line-through decoration-gray-500"
					>
						<svg
							class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 ms-3"
							>Live Support</span
						>
					</li>
					<li
						class="flex line-through decoration-gray-500"
					>
						<svg
							class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 ms-3"
							>Complete
							documentation</span
						>
					</li>
					<li
						class="flex line-through decoration-gray-500"
					>
						<svg
							class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 ms-3"
							>API Access</span
						>
					</li>
				</ul>
			</div>

			<div
				class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
			>
				<h5
					class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400"
				>
					Business plan
				</h5>
				<div
					class="flex items-baseline text-gray-900 dark:text-white"
				>
					<span
						class="text-3xl font-semibold"
						>$</span
					>
					<span
						class="text-5xl font-extrabold tracking-tight"
						>19</span
					>
					<span
						class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
						>/month</span
					>
				</div>
				<ul
					role="list"
					class="space-y-5 my-7"
				>
					<li class="flex items-center">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>2 team members</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>20GB Cloud storage</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Integration help</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Live Support</span
						>
					</li>
					<li
						class="flex line-through decoration-gray-500"
					>
						<svg
							class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 ms-3"
							>Complete
							documentation</span
						>
					</li>
					<li
						class="flex line-through decoration-gray-500"
					>
						<svg
							class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 ms-3"
							>API Access</span
						>
					</li>
				</ul>
			</div>

			<div
				class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
			>
				<h5
					class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400"
				>
					Company plan
				</h5>
				<div
					class="flex items-baseline text-gray-900 dark:text-white"
				>
					<span
						class="text-3xl font-semibold"
						>$</span
					>
					<span
						class="text-5xl font-extrabold tracking-tight"
						>29</span
					>
					<span
						class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
						>/month</span
					>
				</div>
				<ul
					role="list"
					class="space-y-5 my-7"
				>
					<li class="flex items-center">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>2 team members</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>20GB Cloud storage</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Integration help</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Live Support</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>Complete
							Documentation</span
						>
					</li>
					<li class="flex">
						<svg
							class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
							/>
						</svg>
						<span
							class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>API Access</span
						>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section
		class="bg-white dark:bg-gray-900"
	>
		<div
			class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16"
		>
			<h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
				Our Best Seller
			</h1>
			<p
				class="mb-0 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
			>
				Some of our most demanded
				products of all time!
			</p>
		</div>

		<div
			class="flex flex-wrap gap-4 justify-center bg-gray-900"
			ng-show="!isLoading"
		>
			<div
				class="w-[200px] h-auto bg-white rounded-lg shadow dark:bg-white dark:border-gray-700 flex flex-col"
				ng-repeat="product in products"
			>
				<a
					href="#"
					class="flex justify-center bg-white rounded-md"
				>
					<img
						class="rounded-t-lg object-cover"
						ng-src="{{product.image}}"
						alt="{{product.title}}"
						style="
							height: 150px;
							width: 150px;
						"
					/>
				</a>
				<div
					class="p-5 flex flex-col justify-between flex-1 bg-gray-700 rounded-b-lg"
				>
					<a href="#">
						<h5
							class="text-lg font-bold tracking-tight text-gray-900 dark:text-white truncate"
							style="
								max-width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							"
						>
							{{product.title}}
						</h5>
					</a>
					<div
						class="flex items-center justify-between mt-4"
					>
						<span
							class="text-md font-bold text-gray-900 dark:text-white"
						>
							${{product.price}}
						</span>
						<a
							href="#"
							class="inline-flex items-center p-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						>
							Add to cart
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer
		class="shadow dark:bg-gray-900"
	>
		<div
			class="w-full max-w-screen-xl mx-auto p-4 md:py-8"
		>
			<div
				class="sm:flex sm:items-center sm:justify-center py-8"
			>
				<a
					href="https://flowbite.com/"
					class="flex items-center justify-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
				>
					<img
						src="https://flowbite.com/docs/images/logo.svg"
						class="h-8"
						alt="Flowbite Logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>FashionAds
					</span>
				</a>
			</div>
			<hr
				class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
			/>
			<span
				class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
				>© 2024
				<a
					href="https://flowbite.com/"
					class="hover:underline"
					>FashionAds™</a
				>. All Rights Reserved.</span
			>
		</div>
	</footer>
</div>
